@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sen";
}

body {
  background-color: #111111;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}